.experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: experiences;
    gap: 24px;
    max-width: 500px;

    p {
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        color: var(--text-secondary);
        text-align: center;
    }

    @media (min-width: 768px) {
        align-items: flex-start;

        p {
            font-size: 18px;
            line-height: 28px;
            text-align: start;

        }
    }
}